* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: white;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #7f92b0;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 8px 8px 16px #b8b8b8, -8px -8px 16px #ffffff;
}

.display {
  background: #8eefe5;
  border-radius: 10px;
  padding: 10px;
  box-shadow: inset 8px 8px 16px #b8b8b8, inset -8px -8px 16px #ffffff;
}

.display input {
  all: unset;
  width: 100%;
  height: 100%;
  text-align: right;
  font-size: 35px;
}

.btns button {
  width: 90px;
  height: 70px;
  background: #d6a976;
  color: #333;
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
  transition: all 0.3s ease;
}

.btns button:hover {
  background: #d6a976;
  box-shadow: 6px 6px 12px #b8b8b8, -6px -6px 12px #ffffff;
}

#eval {
  width: 90px;
  background: #6da55e;
  color: #333;
  box-shadow: 6px 6px 12px #4b7b42, -6px -6px 12px #9ed897;
}

#eval:hover {
  background: #578d4d;
  box-shadow: 6px 6px 12px #4b7b42, -6px -6px 12px #9ed897;
}
