body {
  background-color: #14131b;
}

nav {
  padding-bottom: 9px;
  padding-top: 25px;
  /* background-color: rgb(30, 30, 30); */
  color: blanchedalmond;
  height: 3vh;
  width: 100vw;
}
/* NAV BAR */
.logo {
  padding-left: 15vw;
  font-size: 19px;
  text-align: left;
}
/* CONTAINER */

.left {
  height: 100%;
  width: 18vw;
  /* background-color: rgba(255, 235, 205, 0.233); */
}

.right {
  height: 100%;
  width: 82vw;
  margin: 20px 26px 26px 0px;
  border-radius: 12px;
  /* background-color: rgba(238, 255, 205, 0.232); */
}

.leetcode img {
  height: 35px;
  width: 81px;
}

.socials h3 {
  color: beige;
  padding: 25px 50px 0px 30px;
}

.leftcontainer {
  /* height: 100%;
    width: 18vw; */
  color: beige;
  background-color: #1d1c24;
  margin: 15px 18px 21px 18px;
  border-radius: 15px;
}

.myspace h3 {
  color: beige;
  padding: 25px 50px 0px 30px;
}

/*.box{
    padding-top: 10px;
    border-radius: 15px;
    margin: 15px 5px 0px 12px;
    background-color: #212124;
}*/

.banner {
  /* width: 98%; */
  height: 20vh;
  background-image: url("/media/coverpic.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 12px;
  /* backdrop-filter: blur(10px);  */
}

.profile {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid white;
}

.profile-name {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.button {
  background-color: #333333;
  border: none;
  border-radius: 10px;
  color: white;
}

.project {
  border-radius: 12px;
  background-color: aliceblue;
  height: 38vh;
  margin-top: 20px;
}

.boxed {
  border-radius: 12px;
  margin: 10px;
  padding: 15px;
  border: 1px solid black;
  height: 32vh;
  width: 20vw;
  background-color: antiquewhite;
}

.skills {
  background-color: aliceblue;
  margin-top: 20px;
  height: 21vh;
  width: 60vw;
  border-radius: 12px;
}

.connect {
  background-color: rgb(72, 128, 177);
  margin-top: 20px;
  height: 21vh;
  margin-left: 20px;
  width: 22vw;
  border-radius: 12px;
}















.connect-form {
  /* border: 2px solid green; */
  /* padding: 20px; */
  width: 300px;
}

h1 {
  color: green;
  font-family: "Handwriting", sans-serif; /* This is a placeholder, you would need to find or create a suitable handwriting font */
}

input[type="email"] {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: white;
  /* border: 2px solid green; */
  /* color: green; */
  padding: 10px;
}
