body {
  background-color: #14131b;
}

nav {
    padding-bottom: 9px;
    padding-top: 25px;
  /* background-color: rgb(30, 30, 30); */
  color: blanchedalmond;
  height: 3vh;
  width: 100vw;
}
/* NAV BAR */
.logo {
  padding-left: 15vw;
  font-size: 19px;
  text-align: left;
}
/* CONTAINER */

.left{
    height: 100%;
    width: 18vw;
    /* background-color: rgba(255, 235, 205, 0.233); */
}

.right{
    height: 100%;
    width: 82vw;
    margin: 20px 26px 26px 0px;
    background-color: rgba(238, 255, 205, 0.232);
}

.leetcode img{
    height: 35px;
    width: 81px;
}

.socials h3{
    color: beige;
    padding: 25px 50px 0px 30px;
}

.leftcontainer{
    /* height: 100%;
    width: 18vw; */
    color: beige;
    background-color: #1d1c24;
    margin: 15px 18px 21px 18px;
    border-radius: 15px;
}


.myspace h3{
    color: beige;
    padding: 25px 50px 0px 30px;
}

/*.box{
    padding-top: 10px;
    border-radius: 15px;
    margin: 15px 5px 0px 12px;
    background-color: #212124;
}*/

.banner {
    width: 100%;
    height: 200px;
    background-image: url("banner.jpg"); /* Replace with the URL of the image */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
  }
  
  .profile-name {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
  }
  
  .profile-handle {
    color: #cccccc;
    font-size: 18px;
    margin-left: 10px;
  }
  
  .button {
    width: 200px;
    height: 50px;
    background-color: #333333;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }